@import '../../global.less';

// 过渡动画
// 1 设定 transfrom 的固定点，接下来的动画都是绕这个点旋转或平移
// 2 设置 rotateZ 的值，让整个页面能够拥有 Z 坐标方向的矢量
.fadeEnter,
.fadeAppear {
  transform: rotateZ(30deg) translate3d(100%, 0, 0);
}

.fadeEnterActive,
.fadeAppearActive {
  transition: transform .3s;
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}

.fadeExit {
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}

.fadeExitActive {
  transition: transform .3s;
  transform: rotateZ(30deg) translate3d(100%, 0, 0);
}

.Container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: @background-color;
  transform-origin: right bottom;


  .TopDesc {
    background-size: 100%;
    padding: 5px 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 275px;
    position: relative;

    .background {
      z-index: -1;
      background-position: 0 0;
      background-size: 100% 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      filter: blur(20px);

      .filter {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(7, 17, 27, 0.2);
      }
    }

    .img_wrapper {
      width: 120px;
      height: 120px;
      position: relative;

      .decorate {
        position: absolute;
        top: 0;
        width: 100%;
        height: 35px;
        border-radius: 3px;
        background: linear-gradient(hsla(0, 0%, 43%, .4), hsla(0, 0%, 100%, 0));
      }

      .play_count {
        position: absolute;
        right: 2px;
        top: 2px;
        font-size: @font-size-s;
        line-height: 15px;
        color: @font-color-light;

        .play {
          font-size: 14px;
        }

        .count {
          margin-left: 3px;
        }
      }

      img {
        width: 120px;
        height: 120px;
        border-radius: 3px;
      }
    }

    .desc_wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 120px;
      padding: 0 10px;

      .title {
        max-height: 70px;
        color: @font-color-light;
        font-weight: 700;
        line-height: 1.5;
        font-size: @font-size-l;
      }

      .person {
        display: flex;

        .avatar {
          width: 20px;
          height: 20px;
          margin-right: 5px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .name {
          line-height: 20px;
          font-size: @font-size-m;
          color: @font-color-desc-v2;
        }
      }
    }
  }

  .Menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px 20px 30px;
    margin: -100px 0 0 0;

    >div {
      display: flex;
      flex-direction: column;
      line-height: 20px;
      text-align: center;
      font-size: @font-size-s;
      color: @font-color-light;
      z-index: 1000;
      font-weight: 500;

      .iconfont {
        font-size: 20px;
      }
    }
  }

  .SongList {
    border-radius: 10px;
    opacity: 0.98;

    // ${props => props.showBackground ? `background: ${style ["highlight-background-color"]}`: ""}
    .first_line {
      box-sizing: border-box;
      padding: 10px 0;
      margin-left: 10px;
      position: relative;
      justify-content: space-between;
      border-bottom: 1px solid @border-color;

      .play_all {
        display: inline-block;
        line-height: 24px;
        color: @font-color-desc;

        .iconfont {
          font-size: 24px;
          margin-right: 10px;
          vertical-align: top;
        }

        .sum {
          font-size: @font-size-s;
          color: @font-color-desc-v2;
        }

        >span {
          vertical-align: top;
        }
      }

      .add_list,
      .isCollected {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 130px;
        line-height: 34px;
        background: @theme-color;
        color: @font-color-light;
        font-size: 0;
        border-radius: 3px;
        vertical-align: top;

        .iconfont {
          vertical-align: top;
          font-size: 10px;
          margin: 0 5px 0 10px;
        }

        span {
          font-size: 14px;
          line-height: 34px;
        }
      }

      .isCollected {
        display: flex;
        background: @background-color;
        color: @font-color-desc;
      }
    }

    .SongItem {
      >li {
        display: flex;
        height: 60px;
        align-items: center;

        .index {
          flex-basis: 60px;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
        }

        .info {
          box-sizing: border-box;
          flex: 1;
          display: flex;
          height: 100%;
          padding: 5px 0;
          flex-direction: column;
          justify-content: space-around;
          border-bottom: 1px solid border-color;
          .noWrap;

          >span {
            .noWrap
          }

          >span:first-child {
            color: @font-color-desc;
          }

          >span:last-child {
            font-size: @font-size-s;
            color: #bba8a8;
          }
        }
      }
    }
  }
}